cache:
  paths:
    - node_modules/

stages:
  - test
  - release

before_script:
  - touch .npmrc
  - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
  - npm install

test:node6:
  image: gcr.io/help-1272/node:6
  stage: test
  script:
    - npm test -- --coverage-report=text-summary

release:
  image: gcr.io/help-1272/node:release
  stage: release
  script:
    - do-release --publish
  only:
    - master
